@import "../runo/styles.css"; 

.v-app{
	background-color: #515151;
	color: #EEEEEE;	
}

.v-menubar{
	background-color: #222222;
	height:24px;
	border-color:black;
	color: #EEEEEE;
}

.v-menubar TABLE{
	background-color: #222222;
	border:0px
}

.v-menubar .menuitem {
	background-color: #222222;	
	border-right: 0px solid black;	
}

.v-menubar-submenu{
	background-color: #222222;
	border:1px ridge #515151;
	border-top-width:0px;
	opacity: 0.9; 				/* Safari, Opera */
	-moz-opacity:0.90; 			/* FireFox */
	filter: alpha(opacity=90); 	/* IE */
}

.v-menubar-submenu TABLE{
	background-color: #222222;
}

.v-menubar-submenu .menuitem {
	background-color: #222222;	
	color: #EEEEEE;	
}

.v-accordion-item-open .v-accordion-item-caption{
	background: #2b2b2b;
	color: #EEEEEE;	
	border-top-color:#222222;	
	border-bottom-color:#222222;
	height:29px
}

.v-accordion-item-first .v-accordion-item-caption{
	border-top-width:0px;
	height: 31px;
}

.v-accordion-item-caption{
	background: #515151;
	border-top:2px solid #222222;	
	border-bottom:1px solid #222222;
	background: #2b2b2b;
	height:29px;
}

.v-accordion-item{
	background:none;	
}

.v-tabsheet-tabs{
	height:22px;	
}

.v-tabsheet-tabitemcell-first{
	margin-left:5px;	
}

.v-tabsheet-deco{
	background:none;	
	margin:0px;
	border-bottom:1px solid #2b2b2b;
}

.v-tabsheet-tabitem{
	font-size:12px;
	line-height:14px;
	height:20px;
	background: #515151;
	margin-top:9px;
	border:1px solid #222222;
}

.v-tabsheet-tabitem .v-caption{
	height:17px;
	padding:3px 10px 1px;
	background:#2b2b2b;		
}

.v-tabsheet-tabitem-selected{
	color: #EEEEEE;
	font-weight:bold;		
}

.v-tabsheet-tabitem-selected .v-caption{
	padding:3px 10px 0;
	height:17px;
	margin:0px;
	
	background:black;
}

.v-tabsheet-spacertd DIV{
	height:21px;
	background:none;	
	border:none;
}

.v-tabsheet-content{
	background:none;
	border:none;	
}

.v-tabsheet-tabcontainer{
	border-bottom:1px solid #222222;	
	background:#2b2b2b;
}

.statusbar{	
	border-top:1px solid #222222;
	line-height:27px;
	background:#414141;
}

.v-table-header-wrap{
	height:0px;
}

.v-table-body{
	background:none;	
	border:0px solid silver;
}

.v-table-row, .v-table-row-odd{
	background: none;	
}

.v-table-row-odd{
	background: #515151;		
}

.paintcanvas{
	background: #515151;		
	z-index:0;
}

.leftpanel{
	border-right: 1px solid #222222;
	background: #414141;	
}

.rightpanel{
	border-left: 1px solid #222222;
	background: #414141;	
}


.tool-selected{
	opacity: 1; 				/* Safari, Opera */
	-moz-opacity:1; 			/* FireFox */
	filter: alpha(opacity=100); /* IE */
	
}

.tool-unselected{
	opacity: 0.6; 				/* Safari, Opera */
	-moz-opacity:0.60; 			/* FireFox */
	filter: alpha(opacity=60); 	/* IE */

}


.v-window{
	color:#EEEEEE;
	background:#717171;	
}

.v-window-wrap{
	background:none;	
}


.v-window-outerheader{
	background:#717171;
	border:0px solid #717171;	
	z-index:100;
}

.v-window-contents{
	background:#717171;
	border:0px solid #717171;	
}

.v-window-footer{
	background:#717171;		
}

.v-window-resizebox{
	background:none;	
}


.v-window-modalitycurtain{
	background:black;	
}

.popupContent{
	border:1px solid black;	
}

.file-select-layout{
	margin-top:10px;
}

.v-tabsheet-tabsheetpanel{
	overflow-x: hidden;
	overflow-y: hidden;	
}









