
/***************** COLOR HISTORY COMPONENT *****************************/

.colorpicker-history{
	margin:5px;
}

.colorpicker-history td
{
	border:1px solid silver !important;	
}

/***********************************************************************/

/**************** COLOR POPUP COMPONENT ********************************/

.colorpicker-popup .resize-button
{
	background:url("../images/resizebg.png");	
}

.colorpicker-popup .resize-button:hover
{
	background:url("../images/resizebg-selected.png");		
}

.colorpicker-popup .resize-button .v-button-caption
{
	background:none;
}

.colorpicker-popup .v-button-caption{
	height:27px !important;	
}

.colorpicker-popup .resize-button .v-button-wrap{
	background:none;	
}

/***********************************************************************/ 

/*********************** COLOR GRADIENT *******************************/

.colorpicker-gradient
{
	margin-left:10px;
	margin-top:0px;	
}

.colorpicker-popup #rgb-gradient .colorpicker-gradient-background
{
	background:url("../images/gradient2.png");
}

.colorpicker-popup #hsv-gradient .colorpicker-gradient-foreground
{
	background:url("../images/gradient.png");
}

.colorpicker-popup .colorpicker-gradient-lowerbox
{
	border-right: 1px solid white;
	border-top: 1px solid white;	
}

.colorpicker-popup .colorpicker-gradient-higherbox
{
	border-left: 1px solid white;
	border-bottom: 1px solid white;	
}
	
/**********************************************************************/

/************************ COLOR SLIDER ********************************/

.colorpicker-popup .rgb-sliders{
	margin-left:10px;	
}

.colorpicker-popup .hsv-sliders{
	margin-left:10px;	
}

.colorpicker-popup .hue-slider{
	border:0px solid silver;
	background:url("../images/slider_hue_bg.png");
	height:10px;
	background-repeat: no-repeat;
}

.colorpicker-popup .hue-slider .v-slider-handle{
	margin-top: -2px;
}

.colorpicker-popup .hue-slider .v-slider-base{
	border:0 none;
	height:0;	
}

/****************************************************************/

/****************** COLOR PREVIEW *******************************/

.colorpicker-popup .colorpicker-preview
{
	margin-top:5px;
	margin-left:10px;
	margin-bottom:0px;
}

.colorpicker-popup .v-absolutelayout-wrapper
{
	width:100%;	
	height:100%;
}

.colorpicker-popup .colorpicker-preview-textfield
{
	background:none;	
}

.colorpicker-popup .v-textfield-dark{
	color: #FFFFFF;
}

.colorpicker-popup .v-textfield-light{
	color: #000000;
}

/****************************************************************/

/*************** COLOR SELECT ***********************************/

.colorpicker-popup .colorselect{
	margin-top:5px;
	margin-left:10px;	
}

/****************************************************************/
